
*{
  margin: 0;
  padding: 0;
}
.aabb{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 1rem;
  gap: 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.miniA{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #fff;
 
}
.WwW{
  background-color: blueviolet;
  width: 10rem;

}
.haa{
background-color: aqua;
display: flex;
text-align: center;
display: flex;
justify-content: center;
margin: 0 auto;
}
.gG{
  background-color: greenyellow;
}
.gR{
  background-color: red;
}
img{
  width: 10rem;

}